.purchase {
  box-shadow: 0 0 15px -5px #00000069;
}
.purchase-form form {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.purchase-form form input,
textarea {
  margin-bottom: 30px;
  border-radius: 3px;
  border: 1px solid rgb(185, 185, 185);
  padding: 10px;
    outline: none;

}
.purchase-formform input:focus,
textarea:focus{
  border: 1px solid #FF634E ;
}