*{
  font-family: 'Montserrat', sans-serif;
}

.btn-ebike{
    background-color: #FF634E!important;
  color: #ffffff !important;
  padding: 8px 15px;
border-radius: 5px;
text-decoration: none;
transition: all .3s ease;
border-color:#FF634E !important;
}
.btn-ebike:hover{
  background-color: #e64934;
  color: #ffffff;
}

/* .hl{
  width: 80px;
  height: 2px;
  background-color: #F56960;
  margin:auto;
} */
.heading-before{
color: #e64934;
text-transform: uppercase;
font-size: 15px;
margin-top: 5px;
}
.heading-main{
text-transform: uppercase;
color:#101F46;
font-weight: 700;
font-size: 30px;
text-align: center;
}

