.add-product {
  box-shadow: 0 0 15px -5px #00000069;
}
.add-product form {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: 20px;
}
.add-product form input,
textarea {
  margin-bottom: 20px;
  border-radius: 3px;
  border: 1px solid rgb(185, 185, 185);
  padding: 10px;
    outline: none;

}
.add-product form input:focus,
textarea:focus{
  border: 2px solid #FF634E ;
}